.Links {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Links_div{
    display: flex;
    flex-direction: row;
}

.Links_div-link{
    margin: 10px 5px 10px 5px;
    font-size: 30px;
    color: gray;
    text-decoration: none;
}

.Links_div-element{
    border: solid 2px;
    width: 30vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Links_div-link:hover{
    color: black;
}

.Links_div-element-stoper{
    border: solid 2px;
    width: 30vw;
    height: 30vh;
    background-image: url('../../img/stoper.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Links_div-element-timer{
    border: solid 2px;
    width: 30vw;
    height: 30vh;
    background-image: url('../../img/timer.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}