.Footer{
    background-color: rgb(49, 49, 49);
    height: 25vh;
}

.Footer_div{
    display: flex;
    justify-content: center;
}

.Footer_div-download-kontakt{
    margin: 10px 0px 10px 0;
    color:  white;
    text-decoration: none;
    width: 20vw;
}

.Footer_div-copyright{
    margin: 10px 20px 30px 20px;
    color:  white;
    font-size: 12px
}

.textDecoration {
    text-decoration: none;
    color:  white;
}

.textDecoration:hover{
    color: gray;
}

.Footer__div-links{
    width: 25px;
    height: 25px;
    margin: 10px 10px 0 0;
}

.Footer__div-links:hover{
transform:scale(1.4);
}